* {
    margin: 0;
}
/*franja verde*/

.franja{
    font-family: Arial, Helvetica, sans-serif;
    height: 65px;
    background-color: #00b09b;
    color: white;
    margin-bottom: 10px;
}

.franja h1{
    padding-left: 120px;
    padding-top: 18px;
}
/* fin franja verde*/